

@import "tailwindcss";

@theme {

  /* Font family*/
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  /* colors */
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001f;

  /* Box Shadow styles */
  --box-shadow-lightboxshadow: 4px 4px 0 #000;
  --box-shadow-darkboxshadow: 4px 4px 0 #fff;
}

@custom-variant dark (&:where(.dark, .dark *));



* {
  font-family: var(--font-outfit);
}


.ovo {
  font-family: var(--font-ovo);
}

