@import "tailwindcss";

/* @theme {
  lighthover: "#fcf4ff";
  darkhover: "#2a004a";
  darkthenme: "#11001f";
  outfit: "Outfit", "sans-serif";
  ovo: "Ovo", "serif";
} */

* {
  font-family: Outfit;
}

